*{
	margin-left:0px;
	margin-right:0px;
}


 header{
	background-color:180c18;
	width:100%;
	height:100px;
	top:0px;
	left:0px;
	right:0px;
	display:flex;
	position:fixed;
	z-index:999;
}
.navi a{
	left:1200px;
	top:40px;
	text-decoration:underline;
	color:white;
	position:relative;
	padding:0px 10px;
	font-size:12pt;
	text-shadow:1px  1px black;
	background-color:gray;
	border-radius:5px;
	z-index:1000;
}
.fanak{
	padding:0px 70px;
	position:fixed;
	width:4%;
	z-index:1000
}
.syahadz {
	font-family:system-ui;
	font-size:20pt;
	font-weight:bold;
	text-decoration:none;
	color:white;
	display:flex;
	padding:60px 30px;
	position:fixed;
	text-shadow:1px  1px  black;
	z-index:1000;
	}
	
body{
		background-color:f8efd5;
		
	}
h1{
	position:relative;
	color:black;
	left:650px;
	top:300px;
	font-size:20pt;
}	
.email{
	text-decoration:underline;
	
}
	
	
	
	
	
	
	
	
	
	
	
	
	